<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Travel with us | @ETTogether</title>
    <link rel="stylesheet" href="/static/css/master.css">
  </head>
  <body>
    <br>
    <br>    
    <div class="login-box">
      <img src="/static/resources/logo.png" class="avatar" alt="Avatar Image">
      <h1>Travel with us</h1>
      <form name ="formularioLogin" class="formularioTipo1" method="POST">
        <img src="/static/resources/giphy.gif" width="1140" height="600"> 
        <br><br><br>
        <center>
          <a title="gift1" href="/static/resources/amazing1.mp4" ><img src="/static/resources/listen.gif" alt="gift1" width="200" height="200" /></a>
          <br><br>
          <audio controls>
            <source src="/static/resources/amazing.mp3" type="audio/mp3">
        </audio>
        </center>
        <br><br>
        <label for="usernameL">These surprises is for all of you.</label>
      </form>
    </div> 
  </body>
</html>